@charset "utf-8";
/* CSS Document */
  
/************************************************Apariencia*******************************************/
 .header{
 	margin-left: auto;
 	margin-right: auto;
	margin-top: 10px;
  	width: 1000px;
  	height: 60px;
  	background: -webkit-linear-gradient(#878787,#373737);
  	background: -moz-linear-gradient(#878787,#373737);
  	background: -o-linear-gradient(#878787,#373737);
  	background: linear-gradient(#878787,#373737);
 	border-bottom: 5px solid #2c8cbf; 
  	text-align: left;
  	color: #fff;	
  	border-top-left-radius: 4px;
  	border-top-right-radius: 4px;  	
 }


 .box { 
    position:relative;
    margin: auto;   
    border: 1px solid #b1b8c0; 
    width: 998px;
    background: #fff; 
    /* -- CSS3 - define rounded corners -- */	
  	border-bottom-left-radius: 4px;
  	border-bottom-right-radius: 4px;  	
}
<style>
a:visited
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#0099FF;
	
	
}

a:active
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#0099FF;
	
	
}

a:link
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#0099FF;
	
	
}


a:hover
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#0099FF;
	
	
}

</style>

/************************************************Controles*******************************************/
.inputbox{
  background:#FFF;
  font-size: 15px;
  color: #000;
  border: 1px solid #DBDBDB;
  height: 25px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}

.combos{
  background:#FFF;
  font-size: 11px;
  color: #000;
  border: 1px solid #DBDBDB;
  height: 24px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.lista_titulo{
   font-size: 12px;
   float:left;
  color: #000;
  border: 1px solid #DBDBDB;
  width:240px;
  
  height: 24px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.lista{
   font-size: 12px;
   float:left;
  color: #000;
  border: 1px solid #DBDBDB;
  width:240px;
  
  height: auto;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.lista_botones{
   font-size: 12px;
   float:left;
  color: #000;
  width:auto;
  
  height: 24px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}

.maestro_titulo{
   font-size: 12px;
   float:left;
  color: #000;
  border: 1px solid #DBDBDB;
  width:143px;
  font-size:14px;
color:#000000;
font-family:arial;
font-weight:bold;
  height: 24px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.maestro_lista{
	font-family: Verdana, Geneva, sans-serif;
   float:left;
  color: #000;
  font-size:14px;
  border: 1px solid #DBDBDB;
  width:143px;
  
  height: auto;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}


/***********************************************Letras**********************************************/
.Arial14Negro{
font-size:14px;
color:#000000;
font-family:arial;
}

.Arial14blanco{
font-size:14px;
color: #ffffff;
font-family:arial;
font-weight:bold;
}

/***********************************************Buscador**********************************************/


#caja_busqueda /*estilos para la caja principal de busqueda*/
{
width:400px;
height:25px;
border:solid 2px #979DAE;
font-size:16px;
}
#display /*estilos para la caja principal en donde se puestran los resultados de la busqueda en forma de lista*/
{
width:400px;
display:none;
overflow:hidden;
z-index:10;
border: solid 1px #666;
}
.display_box /*estilos para cada caja unitaria de cada usuario que se muestra*/
{
padding:2px;
padding-left:6px; 
font-size:18px;
height:63px;
text-decoration:none;
color:#3b5999; 
}

.display_box:hover /*estilos para cada caja unitaria de cada usuario que se muestra. cuando el mause se pocisiona sobre el area*/
{
background: #7f93bc;
color: #FFF;
}
.desc
{
color:#666;
font-size:16;
}
.desc:hover
{
color:#FFF;
}
